<div align="center">
    <h1>Troublemaker Studios</h1>
    <h2>Tape Library</h2>
</div>

<div align="center">
    Scan Tape
</div>
<div align="center">
    Enter New Tape(s)
</div>
<div align="center">
    Shows
</div>
<div align="center">
    <%= link_to "Locations", locations_path %>
</div>
<div align="center">
    View Tapes
</div>