<h1 align="center"><%= @location.name %></h1>

<% flash.each do |type,message| %>
<%= message %>
<% end %>

<div align="center">
  <%= link_to "Edit Location Name", edit_location_path(@location) %>
</div>